nav.navbar.navbar-default(role='navigation')
    .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(ng-click='isCollapsed=!isCollapsed', ng-init='isCollapsed=true', type='button')
            span.sr-only Toggle navigation
            |         
            span.icon-bar
            |         
            span.icon-bar
            |         
            span.icon-bar
          |       
          a.navbar-brand(href='#') YOUR SHINY APP
        |     
        .collapse.navbar-collapse.navigation-menu(collapse='isCollapsed', ng-click='isCollapsed=true')
          ul.nav.navbar-nav
            li(dropdown='', is-open='menuAziendaOpen', ng-mouseover='menuAziendaOpen = true', ng-mouseleave='menuAziendaOpen = false')
              a.dropdown-toggle(href='') HoverDropdown
              |           
              ul.dropdown-menu(role='menu')
                li
                  a(href='') Action
            |         
            li(dropdown='', is-open='status.isopen')
              a.dropdown-toggle(dropdown-toggle='', href='') ClickDropdown
              |           
              ul.dropdown-menu(role='menu')
                li
                  a(href='') Action
            |         
            li
              a(href='') No Dropdown
